nav {background-color: #0a3c86;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
 }
 nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: space-around;
 }
 nav ul li{
     color:white;
     text-decoration: none;
     padding-left: 20px;
     padding-right: 20px;
 }
 nav ul li:hover{
     border: 1px dotted grey;
 } 
 h1 {text-align: center;
    color: white;}
.alul {text-align: left;
    color: aliceblue;}
body{background-color: rgb(63, 142, 184);}
a{list-style-type: none;
    color: white;
    text-decoration: none;}

    
